<html lang="en">
<!--head-->
<head>
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@100;200;300;500;600;700&family=Lato:ital,wght@0,400;1,300&family=Lobster&family=Poppins:wght@300;400;600&family=Roboto:wght@100;300;400;500&family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: sans-serif	;
        }

        .img_1 {
            position: relative;
        }

        .img_1::after {
            position: absolute;
            content: "";
            width: 1px;
            height: 100px;
        }
        p.MsoNormal{
            display: none !important;
        }
    </style>
</head>
<!--end of head-->

<!--body-->
<body style="font-size: 10pt; font-family: sans-serif	;">
    <table style="color: #000; width: 500px" width="500" cellspacing="0" cellpadding="0" border="0">
        <tbody>
            <!--first row-->
            <tr>
                <td class="column column-1" width="25%">
                    <table class="image_block block-1" width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tr>
                            <td class="pad">
                                <div align="center" class="alignment"
                                    style="line-height: 10px"> <img
                                        src="https://savoirproperties.com/images/diana.jpg"
                                        style=" display: block; height: 195px; border: 0; width: 150px; max-width: 100%; object-fit: cover; " width="150" />
                                </div>
                            </td>
                            <td class="column column-2" style=" text-align: left;  " width="75%">
                                <table cellspacing="0" cellpadding="0" border="0" style="line-height: 2;">
                                    <tr>
                                        <td class="pad"
                                            style="padding-left: 20px; text-align: left; width: 100%; ">
                                            <h1
                                                style=" margin: 0; color: #58595b; direction: ltr; line-height: 1.5; font-size: 18px; font-weight: bold; ">
                                             <strong>Diana Aribariho
                                             </strong>
                                            </h1>
                                        </td>
                                    </tr>
                                </table>
                                <table width="100%" cellspacing="0" cellpadding="3" border="0" style="line-height: 1.5;">
                                    <tr>
                                        <td class="pad" style="  padding-left: 20px; ">
                                            <div
                                                style=" color: #58595b; direction: ltr; line-height: 1.5; font-size: 16px; font-weight: bold; ">
                                                <p style="margin: 0"> <strong>Real Estate Administrator</strong> </p>
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                                <table style="margin-left:20px" cellspacing="3" cellpadding="0" border="0">
                                    <tr>
                                        <td width="20px"> <a href="tel:+971547123953"
                                            style=" color: #061a3a; text-decoration: none; "
                                            target="_self"><img
                                                    align="center" class="icon"
                                                    style="display: block;margin-left: 0;margin-right:auto ;"
                                                    src="https://start-tech.ae/TG/icon-4.jpg"
                                                    width="16" /></a> </td>
                                        <td
                                            style=" line-height: 1.5;font-size: 13px; ">
                                            <a href="tel:+971547123953"
                                                style=" color: #061a3a; text-decoration: none; "
                                                target="_self">+971 547123953</a>
                                        </td>
                                    </tr>
                                </table>


                                <table style="margin-left:20px" cellspacing="3" cellpadding="0" border="0">
                                    <tr>
                                        <td width="20px"><a href="mailto:diana@savoirproperties.com"
                                            style=" color: #061a3a; text-decoration: none; "
                                            target="_self"> <img
                                                    align="center" class="icon"
                                                    src="https://start-tech.ae/TG/icon-3.jpg"
                                                    style=" display: block; margin-left: 0;margin-right:auto ;; "
                                                    width="16" /></a> </td>
                                        <td
                                            style=" line-height: 1.5; font-size: 13px; color: #061a3a; text-align: left; ">
                                            <a href="mailto:diana@savoirproperties.com"
                                                style=" color: #061a3a; text-decoration: none; "
                                                target="_self">diana@savoirproperties.com</a>
                                        </td>
                                    </tr>
                                </table>


                                <table style="margin-left:20px" cellspacing="3" cellpadding="0" border="0">
                                    <tr>
                                        <td width="20px"> <a href="https://savoirproperties.com/"
                                            style=" color: #061a3a; text-decoration: none; "
                                            target="_self"><img
                                                    align="center" class="icon"
                                                    src="https://start-tech.ae/TG/icon-2.jpg"
                                                    style=" display: block; margin-left: 0;margin-right:auto ; "
                                                    width="16" /></a> </td>
                                        <td
                                            style="line-height: 1.5;font-size: 13px; color: #061a3a; text-align: left; ">
                                            <a href="https://savoirproperties.com/"
                                                style=" color: #061a3a; text-decoration: none; "
                                                target="_self">www.savoirproperties.com</a>
                                        </td>
                                    </tr>
                                </table>


                                <table style="margin-left:20px" cellspacing="3" cellpadding="0" border="0">
                                    <tr>
                                        <td width="20px"> <img
                                                    align="center" class="icon"
                                                    src="https://start-tech.ae/TG/icon-1.jpg"
                                                    style=" display: block;margin-left: 0px;;margin-right:auto ; "
                                                    width="16" /> </td>
                                        <td
                                            style=" line-height: 1.5;font-size: 13px; color: #061a3a; text-align: left; ">
                                            <a style=" color: #061a3a; text-decoration: none;margin-left: 0px; "
                                                target="_self">Emaar
                                                Business Park, Blgd. 4,
                                                Office 502A</a>
                                        </td>
                                    </tr>
                                </table>


                                <table style="margin-left:20px" cellspacing="3" cellpadding="0" border="0">
                                    <tr>
                                        <td width="20px" ><img
                                                    align="center" class="icon"
                                                    src="https://start-tech.ae/TG/savoir-email/14.jpg"
                                                    style=" display: block; margin-left: 0px;;margin-right:auto ;"
                                                    width="16" /> </td>
                                        <td
                                            style=" font-size: 13px; color: #061a3a; text-align: left;line-height: 1.5 ">
                                            <a style=" color: #061a3a; text-decoration: none; margin-left: 0px;"
                                                target="_self" href="#">ORN 25900</a>
                                        </td>

                                        {{brm_placeholder}}
                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!--first row-->
            <!--second row-->
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="3" width="600px"
                        style=" background-color: #322d2d; padding: 5px 0; color: #000; width: 600px; ">
                        <tbody>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="5" cellspacing="0"
                                        role="presentation" width="100%">
                                        <tr>
                                            <td class="pad">
                                                <div align="right" class="alignment">
                                                    <table border="0" cellpadding="3" cellspacing="0"
                                                        width="216px">
                                                        <tr>
                                                            <td style="padding: 0 0 0 4px"> <a
                                                                href="https://savoirproperties.com/wp-content/uploads/SAVOIR%20PROPERTIES%20%20_%20%20COMPANY%20PROFILE.pdf"
                                                                target="_blank"><img alt="Download company profile"
                                                                    height="34"
                                                                    src="https://start-tech.ae/TG/savoir-email/agents/download.png"
                                                                    style="display: block"
                                                                    title="Download company profile"
                                                                    width="34" /></a> </td>

                                                            <td style="padding: 0 0 0 4px"> <a
                                                                    href="https://www.youtube.com/channel/UCZSJWTJtjbXqrEvLGGucQvg"
                                                                    target="_blank"><img alt="YouTube"
                                                                        height="32"
                                                                        src="https://start-tech.ae/TG/savoir-email/youtube2x.png"
                                                                        style="display: block"
                                                                        title="YouTube"
                                                                        width="32" /></a> </td>
                                                            <td style="padding: 0 0 0 4px"> <a
                                                                    href="https://wa.me/971547123953?text=Hi,%20I%20would%20like%20to%20know%20more%20about%20your%20services"
                                                                    target="_blank"><img alt="WhatsApp"
                                                                        height="32"
                                                                        src="https://start-tech.ae/TG/savoir-email/whatsapp2x.png"
                                                                        style="display: block"
                                                                        title="WhatsApp"
                                                                        width="32" /></a> </td>
                                                            <td style="padding: 0 0 0 4px"> <a
                                                                    href="https://www.facebook.com/profile.php?id=61550977193934&mibextid=ZbWKwL"
                                                                    target="_blank"><img alt="Facebook"
                                                                        height="32"
                                                                        src="https://start-tech.ae/TG/savoir-email/facebook2x.png"
                                                                        style="display: block"
                                                                        title="facebook"
                                                                        width="32" /></a> </td>
                                                            <td style="padding: 0 0 0 4px"> <a
                                                                    href="https://instagram.com/savoirpriveproperties?igshid=MzRlODBiNWFlZA=="
                                                                    target="_blank"><img alt="Instagram"
                                                                        height="32"
                                                                        src="https://start-tech.ae/TG/savoir-email/instagram2x.png"
                                                                        style="display: block"
                                                                        title="instagram"
                                                                        width="32" /></a> </td>
                                                            <td style="padding: 0 0 0 4px"> <a
                                                                    href="https://www.linkedin.com/company/savoir-priv%C3%A9-properties/"
                                                                    target="_blank"><img alt="Linkedin"
                                                                        height="32"
                                                                        src="https://start-tech.ae/TG/savoir-email/linkedin2x.png"
                                                                        style="display: block"
                                                                        title="linkedin"
                                                                        width="32" /></a> </td>
                                                            <td style="padding: 0 0 0 4px"> <a
                                                                    href="https://www.tiktok.com/@savoir_properties?_t=8n94kTkAVsI&_r=1"
                                                                    target="_blank"><img alt="TikTok"
                                                                        height="32"
                                                                        src="https://start-tech.ae/TG/savoir-email/tiktok2x.png"
                                                                        style=" display: block; height: auto; border: 0; "
                                                                        title="TikTok" width="32" /></a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <!--the end of second row-->
            <!--third row-->
            <tr >
                <table width="600">
                    <tbody>
                        <tr>
                            <td class="column column-1" width="25%">
                                <div align="left" class="alignment" style="line-height: 10px"> <a href="https://savoirproperties.com/"
                                                    target="_blank"><img
                                                        src="https://start-tech.ae/TG/savoir-email/agents/savoir%20(1).png"
                                                        style="  width: 140px;  "
                                                        width="150" /></a> </div>

                            </td>
                            <td style="border-left: 30px" width="25%">

                            </td>
                            <td width="25%">
                                <table cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="pad" style="width: 100%; padding-left: 40px">
                                            <div align="center" style="line-height: 10px"> <a
                                                    href="https://www.leadingre.com/"
                                                    target="_blank"><img
                                                        src="https://start-tech.ae/TG/savoir-email/agents/leading.png"
                                                        style=" display: block; height: auto; border: 0; width: 100px; "
                                                        class="img_1" width="100" height="34px"/></a> </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td width="25%">
                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td class="pad">
                                            <div align="center"
                                                style="border-left: 2px solid #9d865c"> <a
                                                    href="https://www.luxuryportfolio.com/"
                                                    target="_blank"><img
                                                        src="https://start-tech.ae/TG/savoir-email/agents/LP.png"
                                                        style="display: block; width: 100px" width="100"/></a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>

                        </tr>
                    </tbody>
                </table>

            </tr>
            <!--the end of third row-->
        </tbody>
    </table>
</body>

<!--end of body-->
</html>
