/node_modules
/public/hot
/public/uploadedFiles
/public/storage
!/public/template/*
!/public/template/inventory.csv
!/public/template/enquriycustomertemplate.csv
/storage/*.key
/vendor
*.xlsx
*.zip
*.rar
.env
.env.backup
*.log
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
storage/logs/laravel.log
/public/usefulcommands.txt
